<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HAZCHEM</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body class="sans-serif bg-orange">
<!-- <div class="b--solid bw5 vh-100 vh-100 tc v-mid"> -->

<div class="vh-100 vh-100 tc v-mid flex items-center align-center justify-center">


  <img width="300" src="{{ '/assets/images/logo.png' | relative_url }}"


</div>
</div>

</body>
</html>
